*{
   box-sizing: border-box;
}

:root{
   --main-padding:15px;
   --icon-bg-color:white;
   --icon-color:black;
}
.grid{
   display: grid;
   height: 50vh;
   grid-template-columns:1fr 0.7fr 1fr 1fr 1fr 1fr;
   grid-template-rows:3fr 1fr 1.5fr;
   grid-template-areas: 
               "sidebar aboutme aboutme aboutme aboutme img-main"
               "sidebar blank content1 content1 content1 content1"
               "sidebar blank content2 content3 content4 content5";
}

.aboutme{
   grid-area: aboutme;
   /* padding:var(--main-padding); */
   background-color:rgba(250,250,250);
   padding-left: 170px;
}

.img-main{
   grid-area: img-main;
   width:100%;
   height:100%;
   padding:var(--main-padding);
   background-color:rgba(250,250,250);
   padding-top:30%;
} 

.button-portfolio{
   background-color: rgb(90,183,143);
   border: none;
   color: white;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px 10px 30px 2px;
   cursor: pointer;
 }

 .button-resume {
   background-color: black;
   border: none;
   color: white;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px 5px 30px 2px;
   cursor: pointer;
 }

 .button-hireme {
   background: rgb(29, 87, 60);
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin:15px 0 0 60px ;
   cursor: pointer;
 }

.blank{
   grid-area: blank;
}

.sidebar{
   background-color: rgb(90,183,143);
   color: white;
   grid-area: sidebar;
   padding:var(--main-padding);
}

.sidebar h2{
   margin-left: 22%;
}

.sidebar-img{
   overflow: hidden;
   width:100px;
   height:100px;
   border-radius: 50%;
   margin-left: 20%;
}

.sidebar-nav{
   align-items: center;
   font-size: medium;
   line-height:30px;
   margin: 5px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 200px;
 }
 
 li a {
   display: block;
   color: white;
   padding: 0;
   height:35px;
   text-decoration: none;
 }

 a.active {
   color: black;
}

 /* Change the link color on hover */
 li a:hover {
   background-color: #555;
   color: white;
 }

 .content1{
    grid-area: content1;
    padding:var(--main-padding)
 }

 .content2{
   grid-area: content2;
   padding:var(--main-padding);
}

.content3{
   grid-area: content3;
   padding:var(--main-padding)
}

.content4{
   grid-area: content4;
   padding:var(--main-padding)
}

.content5{
   grid-area: content5;
   padding:var(--main-padding)
}

.sidebar-img{
   width:100px;
   height:100px;
   border-radius:50%;
   margin-left: 25%;
}
/* .sidebar-img{
   background-image: url(../img/profile.jpg)
} */
.navbar{
   text-decoration: none;

}

/* button */
.social-icon{
align-items: center;
}

/* social link start */
.fa {
   padding: 10px;
   font-size: 15px;
   width: 45px;
   height:45px;
   text-decoration: none;
   margin: 5px ;
   border-radius:50%;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-twitter {
   background: white;
   color: black;
 }
 
 .fa-linkedin {
   background: white;
   color: black;
 }
 
 .fa-facebook {
   background: white;
   color: black;
 }
 
 .fa-instagram {
   background: white;
   color: black;
 }
 
 .fa-pinterest {
   background: white;
   color: black;
 }
 
 .fa-user{
   color: black;
 }
 .fa-file{
   color: black;
 }
.fa-paper-plane{
   color: white;
}


/* social link end */


@media only screen and (max-width:650px){
   .grid{
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr 1fr;
      grid-template-areas: 
                     "main"
                     "sidebar"
                    ;
   }
   .main{
      width:100%;
      padding-left: 5px;
   }
}